<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hui.cloud.schedule.mapper.JobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hui.cloud.schedule.entity.Job">
        <id column="id" property="id" />
        <result column="schedule_name" property="scheduleName" />
        <result column="job_name" property="jobName" />
        <result column="job_group" property="jobGroup" />
        <result column="description" property="description" />
        <result column="job_class_name" property="jobClassName" />
        <result column="cron_expression" property="cronExpression" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_user" property="modifyUser" />
    </resultMap>

</mapper>
